@forward 'default';
@forward 'w3_ejemplo';
@forward 'bootstrap_ejemplo';
// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.seleccionado{
    color:white;
    background-color: darkblue;
}

input{
    color:black;
}
